{% extends 'base.html' %}
{% block title %}Eliminar Categoría{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger text-white">
            Confirmar eliminación
        </div>
        <div class="card-body">
            <p>¿Estás seguro de que deseas eliminar la categoría <strong>{{ object.tipo }}</strong>?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                <a href="{% url 'lista_categorias' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
